<ion-header>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button>
      <ion-menu-button></ion-menu-button>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button (click)="navigate_Cadastro_Salas()"><ion-icon name="add" slot="end" id="paddingToolbar"></ion-icon></ion-button>
  </ion-buttons>  
  <ion-title>Salas</ion-title>
</ion-toolbar>
</ion-header>
<ion-split-pane>
  <ion-router-outlet id="content" main></ion-router-outlet>

  <ion-menu content-id="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Menu
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">

          <ion-item (click)="navigate(p.url)">
            <ion-icon [name]="p.icon" slot="start"></ion-icon>
            {{p.title}}

          </ion-item>

        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  

</ion-split-pane>
