<ion-header>
  <ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-card *ngFor="let sala of salas">
    <ion-card-header>
      <ion-card-title>{{sala.nome}}</ion-card-title>
      <ion-card-subtitle *ngIf="sala.alunos>1; else singular">{{sala.alunos}} alunos</ion-card-subtitle>
      <ng-template #singular>
        <ion-card-subtitle>{{sala.alunos}} aluno</ion-card-subtitle>
      </ng-template>
    </ion-card-header>
  </ion-card>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light" (click)="show_modal()">
      <ion-icon md="add" ios="chevron-back-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>