#centralize{
    text-align: center;
    padding-top: 50px;
}
#padding1{
    padding-top: 40px;
}
#inputs{
    padding-top: 18px;
}
#buttons{
    padding-top: 20px;
}
#icon{
    padding-right: 10px;
}
#centralize1{
    text-align: center;
}
