<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button>
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Cadastro Turma</ion-title>
</ion-toolbar>
<ion-content>
  <ion-item id="padding1">
    <ion-label position="fixed">Nome:</ion-label>
    <ion-input></ion-input>
  </ion-item>
    <ion-item id="padding1">
      <ion-label>Turno:</ion-label>
      <ion-select interface="popover">
        <ion-select-option value="Ma">Matutino</ion-select-option>
        <ion-select-option value="Ves">Vespertino</ion-select-option>
        <ion-select-option value="No">Noturno</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item id="padding1">
      <ion-label position="fixed">Imagem:</ion-label>
      <ion-input></ion-input>
    </ion-item> 
    <ion-item id="padding1">
      <ion-label position="fixed">Id:</ion-label>
      <ion-input></ion-input>
    </ion-item>  
  <div id="padding1">
    <ion-button expand="block">Cadastrar</ion-button>
  </div>
</ion-content>
